<ng-template #shapeTemplate>
    <!-- <svg:g *ngIf="isSelected">
        <svg:rect attr.x="{{ shape.originX - 2 }}" attr.y="{{ shape.originY - 2 }}" width="4" height="4" style="stroke: green; stroke-width: 1; fill:green" />
        <svg:rect attr.x="{{ shape.x2 - 2 }}" attr.y="{{ shape.y2 - 2 }}" width="4" height="4" style="stroke: green; stroke-width: 1; fill:green" />
    </svg:g> -->
    <!-- <svg:line attr.id="{{shape.shapeProperties.name}}" 
              class="draggable" 
              attr.x1="{{ shape.originX }}" 
              attr.y1="{{ shape.originY }}" 
              attr.x2="{{ shape.x2 }}" 
              attr.y2="{{ shape.y2 }}" 
              stroke-linecap="butt"
              [ngStyle]="setStyles()">
        <title>{{ shape.shapeProperties.name }}</title>
    </svg:line> -->
    <svg attr.id="{{shape.shapeProperties.name}}"  >
        <defs>
          <marker id="arrow" 
                  markerWidth="10" 
                  markerHeight="10" 
                  refX="0" 
                  refY="3" 
                  orient="auto" 
                  markerUnits="strokeWidth"
                  viewBox="0 0 15 15">
                <path d="M0,0 L0,6 L9,3 z" fill="#000" />
          </marker>
          <marker id="circle" 
                  markerWidth="10" 
                  markerHeight="10"
                  refX="5" 
                  refY="5" 
                  orient="auto">
            <circle cx="5" cy="5" r="2" fill="dodgerblue"/>
          </marker>
        </defs>
        <line  attr.x1="{{ shape.originX }}" 
               attr.y1="{{ shape.originY }}" 
               attr.x2="{{ shape.x2 }}" 
               attr.y2="{{ shape.y2 }}"  
               stroke="#000" 
               stroke-width="2" 
               marker-end="url(#arrow)"
               marker-start="url(#circle)" />
        <title>{{ shape.shapeProperties.name }}</title>
      
  </svg>
</ng-template>