<div class="container">
    <div class="row header">
      <br><br>
    </div>
    <!-- {{ form.value | json }} -->
    <div class="row">
        <div class="col-md-2 tools nopadding">
            <div class="panel-group" id="accordion" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#shapes" aria-expanded="false" aria-controls="basicshapes">
                Shapes
              </a>
                        </div>
                    </div>
                    <div id="shapes" data-parent="#accordion" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row nopadding">
                            <button (click)="selectShape('Pdf')" 
                                    type="button" class="btn btn-outline-primary col-md-3 shape">
                                    <img src="assets/pictures/pdf.png" width="24" height="24">
                           </button>
                            <button (click)="selectShape('Docx')" 
                                    type="button" class="btn btn-outline-primary col-md-3 shape">
                                    <img src="assets/pictures/doc.png" width="24" height="24">
                            </button>
                            <button (click)="selectShape('Csv')" 
                                    type="button" class="btn btn-outline-primary col-md-3 shape">
                                    <img src="assets/pictures/csv.png" width="24" height="24">
                            </button>
                            <button (click)="selectShape('Database')" 
                                    type="button" class="btn btn-outline-primary col-md-3 shape">
                                    <img src="assets/pictures/db.png" width="24" height="24">
                            </button>

                            <button (click)="selectShape('Image')" 
                                    type="button" class="btn btn-outline-primary col-md-3 shape">
                                    <img src="assets/pictures/picture.png" width="24" height="24">
                            </button>

                            <button (click)="selectShape('Line')" 
                                    type="button" class="btn btn-outline-primary col-md-3 shape">
                                    <img src="assets/line.png" width="24" height="24">
                            </button>


                                <!-- <button (click)="selectShape('Rectangle')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                    src="assets/rectangle.png" width="24" height="24"></button>
                                <button (click)="selectShape('Circle')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                    src="assets/circle.png" width="24" height="24"></button>
                            </div>
                            <div class="row nopadding">
                                <button (click)="selectShape('Ellipse')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                    src="assets/ellipse.png" width="24" height="24"></button>
                                <button (click)="selectShape('Path')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                    src="assets/path.png" width="24" height="24"></button>
                                <button (click)="selectShape('Square')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                    src="assets/square.png" width="24" height="24"></button>
                            </div>
                            <div class="row nopadding">
                                <button (click)="selectShape('TextBox')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                    src="assets/text.png" width="24" height="24"></button> -->
                                <!-- <button (click)="selectShape('PolyLine')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                    src="assets/polyline.png" width="24" height="24"></button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 toolbar">
            <div class="row">
                <div class="col-md-3">
                    <p>Selected Shape : {{ this.shapeValue }}</p>
                </div>
                <div class="col-md-3">
                    <button (click)="clearShapes()" type="button" class="btn btn-light">Clear</button>
                </div>
            </div>
            <svg    xmlns="http://www.w3.org/2000/svg" 
                    xmlns:xlink="http://www.w3.org/1999/xlink" 
                    (mousedown)="onMouseDown($event)" 
                    (mouseup)="onMouseUp($event)" 
                    (mousemove)="onMouseMove($event)">

                <ng-container *ngFor="let shape of getShapes()">
                    <ng-template dynamic-svg [component]="shape"></ng-template>
                </ng-container>
                
            </svg>
        </div>
    </div>
</div>